<ion-header>
  <ion-toolbar>
    <ion-title>Entrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-input label="Correo" type="email" placeholder="tu@correo.com" [(ngModel)]="correo"></ion-input>
  <ion-input label="Clave" type="password" placeholder="Tu clave" [(ngModel)]="clave"></ion-input>

  <ion-text color="danger" *ngIf="error">
    <p>{{ error }}</p>
  </ion-text>

  <ion-button expand="full" type="submit" [disabled]="!correo.trim() || !clave.trim()" (click)="entrar()">Entrar</ion-button>
  <ion-button expand="full" fill="clear" routerLink="/registro">¿No tienes cuenta? Regístrate</ion-button>
</ion-content>
